/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/* Estilos do cabeçalho */
#cabecalho {
    background-color: goldenrod;
    color: black;
    text-align: center;
    padding: 10px;
}

/* Estilos da barra de navegação */
#navbar {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    padding: 10px;
}

.hidden {
    display: none;
}


#navbar a {
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    text-decoration: underline;
}

/* Estilos do conteúdo principal */
#corpo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#main-content {
    max-width: 700px; /* Ajuste conforme necessário */
    margin-right: 20px;
}

#complemento {
    max-width: 300px; /* Ajuste conforme necessário */
    margin-left: auto;
}

#complemento img {
    width: 100%;
    height: auto;
    margin-left: auto;
}

/* Estilos das seções de conteúdo */
#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: bisque;
    margin: 20px;
}

#conteudo .div1 {
    width: 100%;
    display: flex;
    max-width: auto; /* Ajuste conforme necessário */
    background-color: antiquewhite;
    padding: 0px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

#conteudo .div1 button {
    background-color: rgb(128, 128, 128);
    color: white;
    border: none;
    width: 60px;
    height: 18px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5%;
    transition: background-color 0.3s ease;
}

#conteudo .text {
    text-align: center;
    padding: 10px;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: goldenrod;
    color: black;
}
#conteudo .div1 button:hover {
    background-color: #3c6470;
}